build --crosstool_top=//toolchain --host_crosstool_top=//tools/cpp:toolchain

build:328p --cpu=avr
build:328p --define MCU=atmega328p
build:328p --define COM=/dev/ttyUSB0
build:328p --define PROGR=arduino
build:328p --copt -Os
build:328p --copt -DF_CPU=16000000